@use './mixins' as *;
@use 'sass:math';

.hero-section {
  @include container;

  .logo {
    margin-top: rem(62);

    @include media(mobile){
      margin-top: rem(40);
    }
  }

  .background-images .circle {
    @include size(rem(384), rem(384));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;

    &:first-of-type {
      background-image: url(path('/assets/details-1.svg'));
      top: -#{rem(146)};
      left: -#{rem(112)};
      @include media(tablet){
        top: -#{rem(112)};
        left: -#{rem(254)};
      }
      @include media(mobile){
        display: none;
      }
    }

    &:nth-of-type(2) {
      background-image: url(path('/assets/circle-2.svg'));
      top: rem(100);
      right: rem(156);
      @include media(tablet){
        top: rem(41);
        right: rem(39);
      }
      @include media(mobile){
        @include size(rem(281), rem(281)); 
        top: -#{rem(104)};
        right: -#{rem(65)};
      }

    }

    &:nth-of-type(3) {
      background-image: url(path('/assets/circle-3.svg'));
      top: rem(370);
      right: rem(156);
      @include media(tablet){
        top: rem(312);
        right: rem(39);
      }
      @include media(mobile){
        @include size(rem(281), rem(281));        
        top: rem(94);
        right: -#{rem(65)};
      }
    }
  }

  .background-images .details {
    @include size(rem(312), rem(468));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-image: url(path('/assets/details-shapes.svg'));
    top: -#{rem(40)};
    right: 0;
    z-index: -1;

    @include media(tablet){
      @include size(rem(266), rem(400));
    }
    @include media(mobile){
      display: none;
    }
  }

  .header {
    @include media(mobile){
      width: 100%;       
    }
    .title {
      font-size: rem(88);
      font-weight: bold;
      line-height: 1;
      letter-spacing: -1px;
      width: rem(860);
      margin-top: rem(127);

      @include media(tablet){
        font-size: rem(64);
        letter-spacing: -0.73px;
        margin-top: rem(95);
        width: rem(452);
      }
      @include media(mobile){
        width: 100%;
        font-size: rem(40);
        letter-spacing: -0.45px;    
        margin-top: rem(64);        
      }
    }

    .description {
      font-size: rem(20);
      width: rem(825);
      line-height: math.div(34, 20);
      margin-top: rem(40);

      @include media(tablet){
        font-size: rem(18);
        line-height: math.div(28, 18);
        width: rem(514);
        margin-top: rem(28);
      }
      @include media(mobile){
        font-size: rem(16);
        line-height: math.div(26, 16);
        width: 100%;
        margin-top: rem(20);     
      }
    }
  }
}
